body {
    text-align: center;
}
p {
    box-sizing: border-box;
    padding: 0px;
    height: 650px;
    width: 50px;
    background-color: rgb(224, 215, 215);
    font-size: 18px;
    color: black;
    min-width: 900px;
    border-radius: 10px;
    list-style-type: none;
}

h1 {
    color: white;
    font-weight: 400;
}

div.container {
    background: transparent;
}

.jumbotron {
    background: url(~/assets/tsilhqotin_hillside.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}