:host {
    position: fixed;
}

 p {
    box-sizing: border-box;
    padding: 20px;
    margin-top: 70px;
    margin-left: -10px;
    margin-right: 300px;
    height: 400px;
    width: 50px;
    font-size: 18px;
    color: black;
    min-width: 900px;
    list-style-type: none;
    border-radius: 10px;
    
}