<div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Credits</h1>
      <p class="lead text-center">
        <li>Justin Bambrick, Front-end web development: Design and Styling</li>
        <li>Aaron Plahn, Mentorship, QC, and Deployment</li>
        <li>Keith Koepke, Photography</li>
        <li>Built with <a href="https://angular.io/" target="_blank">Angular</a></li>
        <li>Open source. Available on <a href="https://github.com/jbambrick/tsilhqotin-radio-website">GitHub</a></li>
      </p>
    </div>
  </div>
