<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="footer">
  <a href="https://www.facebook.com/pages/category/Community/Ts%CC%82ilhqotin-Radio-264706447509284/"><i class="fa fa-facebook" style="font-size:38px;color:white"></i></a>
  <a href="https://twitter.com/tsilhqotin"><i class="fa fa-twitter" style="font-size:38px;color:white"></i></a>
  <a href="https://www.youtube.com/channel/UC2-7dFH9j_3CoOf-Wl0EmeA"><i class="fa fa-youtube" style="font-size:38px;color:white"></i></a>
  <a href="https://github.com/Tsilhqot-in-National-Government"><i class="fa fa-github" style="font-size:38px;color:white"></i></a>
</div>


