body {
    text-align: center;
}
p {
    box-sizing: border-box;
    padding: 0px;
    height: 650px;
    width: 50px;
    background-color: rgb(224, 215, 215);
    font-size: 18px;
    color: black;
    min-width: 900px;
    border-radius: 10px;
}

