.spacer {
    flex: 1;
  }

  .toolbar-image {
    display: flexbox;
  }

  .toolbar {
    height: 100px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: larger;
    list-style-type: none;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }


  li {
      padding: 1.25em;
      font-size: 22px;
  }

  a {
    color: white;
  }

  a:hover {
    color: red;
  }