.navbar {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
    font-size: 25px;
    color: red;
}

li {
    text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  padding: 1px;
  display: inline-block;
  width: 150px;
}

button {
    color: red;
    background-color: inherit;
    display: block;
    border: none;
    font-weight: 500;
}

button:hover {
    color: red;
    background-color: white;
    transform: scale(1.1) translate(105% 105%);
    box-shadow: 4px 4px 4px 4px rgba(.3, .3, .3, 0.3), 6px 6px 20px 6px rgba(.3, .3, 0.3, 0.3);
}