<div class="toolbar" role="banner">
        <img
          width="280"
          alt="Tsilhqot'in Radio Logo"
          src="\assets\tsilhqotin_radio_logo.jpg"
        />
     
        <li><a href="#" routerLink="/"><button class="w3-btn w3-black">Home</button></a></li>
        <li><a href="#" routerLink="/about"><button class="w3-btn w3-black">About</button></a></li>
        <li><a href="#" routerLink="/staff"><button class="w3-btn w3-black">Staff</button></a></li>
        <li><a href="#" routerLink="/language"><button class="w3-btn w3-black">Language</button></a></li>
        <li><a href="#" routerLink="/contact"><button class="w3-btn w3-black">Contact</button></a></li>
        <li><a href="#" routerLink="/credits"><button class="w3-btn w3-black">Credits</button></a></li>
</div>
      <div class="container">
        <router-outlet></router-outlet>
      </div>