.container {
    margin-top: -50px;
    height: 700px;
}

p {
    margin-bottom: 50px;
}

h2 {
    font-size: 65px;
}

.staffcard {
    flex-direction: column;
}

.dj-img {
    height: 265px;
}


@media (max-width: 992px) {
    .staffcard {
        flex-direction: row;
      }
   }
   
   @media (max-width: 768px) {
   
    .staffcard {
        flex-direction: row;
      }
   }

@media (max-width: 576px) {

    .staffcard {
      flex-direction: row;
    }
  }