<div class="jumbotron jumbotron" style="background-image: inherit;">
    <div class="container">
      <h1 class="display-4">About Tsilhqot'in Radio</h1>
      <p class="lead">Tsilhqotin radio is a subsiary of TNG, Tsilhqotin Radio started in 2016ish. Tsilhqotin radio is a subsiary of TNG, Tsilhqotin Radio started in 2016ish.Tsilhqotin radio is a subsiary of TNG, Tsilhqotin Radio started in 2016ish.Tsilhqotin radio is a subsiary of TNG, Tsilhqotin Radio started in 2016ish.Tsilhqotin radio is a subsiary of TNG, Tsilhqotin Radio started in 2016ish.Tsilhqotin radio is a subsiary of TNG, Tsilhqotin Radio started in 2016ish.Tsilhqotin radio is a subsiary of TNG, Tsilhqotin Radio started in 2016ish.Tsilhqotin radio is a subsiary of TNG, Tsilhqotin Radio started in 2016ish.Tsilhqotin radio is a subsiary of TNG, Tsilhqotin Radio started in 2016ish.</p>
    </div>
  </div>