<div class="jumbotron">
  <div class="container">
    <div class="container">
      <h2>Staff</h2>
    <div class="card-columns">
      <div class="card" style="width:400px">
        <img class="manager-img" src="\assets\radio_manager.jpeg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Radio Manager</h4>
          <p class="card-text">This is the radio manager and he is very smart. He is very educated, look at his picture.</p>
          <a href="#" class="btn btn-primary">E-mail</a>
        </div>
      </div>
      <br>
      
      <div class="card" style="width:400px">
        <img class="dj-img" src="\assets\radio_dj.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Radio DJ</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">E-mail</a>
        </div>
      </div>
    </div>
      <br>

