body {
    background-image: url(~\assets\tsilhqotin_horse.jpg);
    background-position: fixed;
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

img {
    margin-top: auto;
    margin-left: 25px;
    margin-right: 10px;
    border-radius: 0px 0px 0px;
    border: none;
    border-top: none;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
    box-sizing: border-box;
    border-radius: 0px 0px 6px 6px;
}

  /* Responsive Styles */
  @media screen and (max-width: 767px) {


}

@media screen and (max-width: 575px) {

}