body {
    background-image: url(C:\Users\JBAMBRICK\tsilhqotin-radio-website\src\assets\xeni.jpg);
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    margin-top: auto;
    margin-left: -5px;
    border-radius: 5px;
    border: solid red 4px;
    border-top: none;
}